#coming-soon-overlay {
  background: url(/images/backgrounds/dark-background.svg), #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

hr {
  border-color: white !important;
}

@media only screen and (max-width: 1024px) {
  .bg-video__content {
    width: 250% !important;
  }
}

@media only screen and (max-width: 768px) {
  #form-wrapper {
    width: 90% !important;
  }
}

@media only screen and (max-width: 414px) {
  #coming-soon-headline {
    width: 100% !important;
  }

  #coming-soon-overlay {
    background-position: center !important;
    opacity: 1 !important;
  }

  #coming-soon-video {
    display: none !important;
  }

  #coming-soon-content {
    width: 90% !important;
    margin: var(--value-96) auto !important;
    padding: 0 !important;

    h1 {
      font-size: 1.2rem !important;
    }

    p {
      width: 100% !important;
    }
  }

  #form-wrapper {
    width: 95% !important;
  }

  #call-for-speakers-header {
    padding: 0 var(--value-16) !important;
    box-sizing: border-box;
  }
}
