@import "./mixins.scss";

.faq-hero {
  @include hero;
  p {
    color: $primary-gray;
    line-height: 33px;
    font-weight: lighter;
    font-style: normal;
    font-weight: normal;

    span {
      color: $secondary-blue;
      font-weight: bold;
    }
  }
}

.query-question {
  text-transform: unset;
}
