//Variables
@import "./mixins.scss";

section {
  position: relative;
  padding: 48px 0px;
}

.main-header {
  @include hero;

  &--logo img {
    width: 128px;
  }
  &--eventlogo img {
    width: 328px;
  }
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  padding: 0px 8px;

  p {
    color: $primary-dark;
    line-height: 30px;

    span {
      color: $primary-blue;
      font-weight: bold;
    }
  }
}

.figures-section {
  color: $primary-white;
  @include section-blue;

  h1 {
    font-size: 56px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}

.speakers {
  &-thumbnail {
    position: relative;
    transition: ease all 0.3s;
    max-width: 200px;
  }

  &-thumbnail:hover {
    transform: scale(1.1);
    z-index: 2000;
  }

  &-section {
    width: 100%;

    h3 {
      max-width: 100%;
    }

    p {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      max-width: 100%;

      span {
        font-weight: bold;
      }
    }
  }

  &-avatar {
    border-radius: 100%;
    width: 166px;
    background-color: $primary-white;
    margin: 0 auto 8px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div div {
      margin: 0px 16px 8px;
    }
    a {
      text-decoration: none;
    }
  }
}
.testimonials-section {
  color: $primary-dark;
  @include section-white;

  .author {
    font-weight: bold;
    color: $secondary-blue;
  }
}

.partners {
  &-section {
    color: $primary-dark;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.btn-to-txt {
  display: inline-block !important;
  background-color: transparent !important;
  border: none !important;
  &:focus {
    outline: none;
  }
}

.speaker-modal {
  width: 70vw;
  height: 80vh;
  // position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  // background: url(/images/section-transition.svg), #fff;
  // background-attachment: scroll !important;
  // background-size: 100%;
  // background-repeat: no-repeat;
  top: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;

  z-index: 9999 !important;
  h3 {
    color: $primary-gray;
  }
}
.modal-container {
  overflow-y: scroll;

  // height: 27.5vh;
}
.overwrite-modal {
  border: none;
}

.modal-avatar {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  position: relative;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }
}
.workshop-title {
  color: $secondary-blue;
  font-size: 42px;
  text-transform: unset;
}

.video-container {
  height: 360px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.card {
  width: 45%;
}
.sponsor-img img {
  width: 150px;
}

.community-partner img {
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 800px) {
  .speaker-modal {
    width: 90vw;
    height: 90vh;
  }
  .card {
    width: 90%;
  }

  .main-header {
    font-size: 10px !important;
    padding: 96px 16px !important;

    #headline {
      width: 100% !important;
    }

    .main-btn {
      margin-right: 0 !important;
    }
  }
  section {
    position: relative;
    padding: 48px 32px;
  }

  .about-conf-text p {
    font-size: 16px !important;
  }

  .partners-section {
    padding-top: 128px !important;
    h2 {
      font-size: 24px !important;
    }
  }

  .testimonials-section {
    padding-top: 128px !important;
    h2 {
      font-size: 24px !important;
    }
  }

  .aboutconf-section {
    h2 {
      font-size: 24px !important;
    }
    h3 {
      font-size: 24px !important;
    }
  }

  .speakers-section {
    h2 {
      font-size: 24px !important;
    }

    .speakers-list {
      .speakers-thumbnail {
        width: 166px !important;
        .speakers-avatar {
          margin-left: 0 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .partners-list .sponsor-img img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .speakers-section {
    .speakers-list {
      .speakers-thumbnail {
        width: 140px !important;

        .speakers-avatar {
          margin: 0 auto !important;
          margin-bottom: 1rem !important;
          width: 100px !important;

          img {
            width: 100px !important;
            height: 100px !important;
          }
        }
      }
    }
  }
}
