@import "./mixins.scss";

.partner-hero {
  padding: 96px 16px !important;

  @include hero;

  p {
    color: $primary-gray;
    line-height: 33px;
    font-size: 20px;
    font-weight: lighter;
    font-style: normal;
    font-weight: normal;

    span {
      color: $secondary-blue;
      font-weight: bold;
    }
  }
}

.sponsor-section {
  color: #cacaca;
  .sponsor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-item {
      height: 140px;
      width: 180.4px;
      margin-left: 12px;
      margin-right: 12px;

      .img-container {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.gen-sponsor {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto;
}
.comm-sponsor {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin: 0 auto;
}

.silver-sponsor {
  @include section-white;
}
@media only screen and (max-width: 550px) {
  .sponsor-section {
    position: relative;
    padding: 48px 0px !important;
  }
}
