#payment-modal {
  #modal-body {
    p {
      word-break: break-word;
    }

    * {
      font-family: "Work sans", sans-serif;
    }

    label {
      color: var(--gray);
      font-size: 0.875rem;
    }

    table {
      td {
        vertical-align: middle;
      }
    }

    ol {
      li {
        margin-bottom: var(--value-16);
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #payment-modal {
    #modal-body {
      .ticket-price {
        font-size: 1rem !important;
      }
      #total-label {
        div.col:nth-child(1) {
          padding-right: 0 !important;
        }

        div.col:nth-child(2) {
          padding-left: 0 !important;
        }

        p {
          font-size: 1.1rem !important;
          font-weight: bolder !important;
        }
      }
    }
  }
}
