@import "./mixins.scss";

.faq-hero {
  @include hero;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.workshop-item {
  .workshop-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--value-32);
  }
}

h2,
h3,
h4,
h6 {
  text-transform: unset;
}
