.sponsor-modal {
  width: 80vw !important;
  height: 80vh !important;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 10% !important;
  background: url(/images/section-transition.svg), #fff;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: fixed !important;
  overflow-y: none;
  z-index: 999;
}

.overwrite-btn {
  background-color: transparent !important;
  background-image: none;
  font-size: 24px !important;
}
